@media screen and (max-width:1920px) {
    main .sell {padding: 120px 80px;}
    .middle_banner {
        width: 100%;
        padding:  0 !important;
    }
}
@media screen and (max-width:1250px) {
    body{
        width: 100%;
    }
    /* hedaer */
    header{
    }
    header .inner{
        width: 100%;
    }
    header .inner .top_header{
    }
    header .inner .btm_header .btm_center_menu a{
        margin-right: 15px;
    }
    /*================================== 공통 선택자 + 1행 반응형 디자인 */
    /* search  */
    .search_aria .search_inner {
        width: 40%;
        margin: 0 auto;
    }
    .search_aria .search_inner input {
        font-size:1.125rem;
    }
    .search_aria p img{
        width: 22px;
    }
    .search_aria .search_inner .btm_contents > div h3 {
        font-size: 0.9375rem;
    }
    .search_aria .search_inner .btm_contents > div a {
    }
    /* search  */
    /* header_menu */
    .header_menu{
        width: 35%;
    }
    .header_menu .menu_box li .menu-item a {
        font-size:1rem;
    }
    .header_menu .menu_box a {
        font-size: 0.8125rem;
    }
    /* header_menu */
    /* 공통 태그 */
    main .sell h2 {
        font-size:1.75rem;
        font-weight: 600;
    }
    main .sell .title > p {
        font-size:0.75rem;
    }
    main .sell .more_btn{
        width: 160px;
    }
    main .sell .more_view {
        width: 160px;
    }
    main .sell .category a{
        font-size: 0.8125rem;
    }
    /* 공통 태그 */
    main{
        width: 100%;
    }
    main .sell {
        padding: 80px 80px;
    }
    main .sale_area {
        margin-bottom: 50px;
    }
    main .sell .category{
        width: 100%;
        padding: 20px 0 30px 0;
    }
    main .new .new_container {
        margin-top: 30px;
        width: 100%;
    }
    .middle_banner {
        width: 100%;
        padding: 80px 0 !important;
        margin-bottom: 0px;
    }
    .middle_banner .title{
        width: 100%;
    }
    main .sell .slide_btn .swiper-button-prev {
        left: -50px;
    }
    main .sell .slide_btn .swiper-button-next {
        right: -50px;
    }
    .middle_banner .center_container > h2{
        font-size:1.5rem !important;
    }
    .middle_banner .center_container .sub_text{
        font-size:0.875rem;
    }
    .best .best_container .right_contents{
        width: 61%; 
        padding-left: 20px;
    }
    .best .best_container {
        width: 100%;
    }
    .best .best_container .best_aria {
        width: 100%
    }
    main .event{
        width: 100%;
    }
    main .event_bg{
        width: 100%; margin: 0 auto;
    }
    main .event .event_container h3 {
        font-size:1rem;
    }
    main .event .event_container p {
        font-size: 0.8125rem;
    }
    /* =============================3행 반응형디자인(tablet) */
    /* =============================4행 반응형디자인(tablet) */
    /* =============================sale행 반응형디자인(tablet) */
    .sale_area .category_column a{
        max-width: 200px;
        padding: 20px 0;
        padding-left: 20px;
        color: #A5A5A5;
    }
    .sale_area .category_column .active{
        font-size:1rem;
        font-weight: 600;
    }
    .sale_area .category_column a{
        font-size:0.875rem;
    }
    .sale_area .right_container .sale_container1{
        display: none;
    }
    .sale_area .right_container {
        
    }
    /* =============================5행 반응형디자인(tablet) */
    .banner_bg h2{
        font-size:1.5rem;
    }
    .review .swiper-slide p {
        font-size: 0.6875rem;
    }
    .review .swiper-slide h3 {
        font-size: 0.6875rem;
    }
    main .sell a span {
        font-weight: 700;
        font-size: 11px;
    }
    .review .review_container{
        width: 100%;
        
    }
    /* 하단 배너 */
    .btm_bnr {
    }
    .btm_bnr .bnr_inner {
        max-width: 240px;
    }
    .btm_bnr .btm_bnr_logo {}
    .btm_bnr .btm_bnr_logo img {
        width: 240px;
    }
    .btm_bnr a {
        font-size:0.875rem;
        width: 240px;
    }
}
@media screen and (max-width:1200px){
}
    /* =============================7행 반응형디자인(tablet) */
    /* =============================8행 반응형디자인(tablet) */
    /* =============================9행 반응형디자인(tablet) */
    /* =============================10행 반응형디자인(tablet) */
/* 1250 end */  
@media screen and (max-width:900px) {
    .header_menu{
        width: 40%;
    }
    /* =============================2행 반응형디자인(759~900) */
}        
/* 769~900 end */

@media screen and (max-width:870px) {
    /*================================== 공통 선택자 + 1행 반응형 디자인(mobile) */
    /* header 시작 */
    /* search */
    .search_close{
        position: absolute; right: 15px; top: 10px;
    }
    .search_close img{
        width: 22px;
    }
    .header_menu .menu_box li {
        padding: 0 0 10px 15px;
    }
    /* search */
    header {
        width: 100%;
        height: 90px;
    }
    header .inner{
        width: 100%;
    }
    header .inner .btm_header .btm_center_menu {
        display: none;
    }
    header .inner .top_header .top_right_menu {
        display: none;
    }
    header .inner .btm_header {
        display: flex;
        justify-content: space-between;
        position: absolute; left: 0; top: 22%;
        width: 100% !important;
        padding: 0 15px;
        height: 50px;
        align-items: center;
    }
    header .inner .btm_header .btm_rigth_menu {
        display: flex;
        
    }
    .search_aria {
        position: fixed; left: 0; top: 90px;
    }
    /* header 종료 */
    main{
        overflow: hidden;
        padding-top: 90px;
    }
    main .sell .category {
        display: flex;
        justify-content: center;
    }
    main .sell {
        padding: 50px 15px;
        position: relative;
    }
    main .sell .more_btn {
        width: 120px;
        margin: 30px auto 0;
    }
    main .sell .more_view {
        width: 130px;
    }
    
    .middle_banner {
        padding: 0 !important;
        position: relative;
    }
    main .sell .absolute_text {
        position: absolute !important; left: 0; top: 0;
        background: none;
    }
    main .sell .absolute_text h2 {
        color: #fff;
        font-size: 1.125rem !important;
    }
    .banner_bg {
        background-position-x: 20%;
    }
    .middle_banner .absolute_text .sub_text {
        font-size: 0.625rem;
    }
    .middle_banner .banner_bg_main {
    }
    main .title {
        display: flex; flex-flow: column nowrap;
    }
    main .sell h2 {
        color: #E84E1B;
        margin-bottom: 5px;
    }
    main .sell a h3 {
        margin-top: 30px;
        font-size: 0.625rem;
        text-align: center;
    }
    main .sell a em {
        font-size: 0.6875rem;
        font-weight: 700;
        text-align: center;
    }
    main .sell a .sale_price del {
        font-size: 0.6875rem;
    }
    main .sell a .sale_price {
        text-align: center;
    }
    main .sell a .star p {
        font-size: 0.5rem;
    }
    main .sell a .star img {
        width: 10px;
    }
    .middle_banner .title .sub_text {
        color: #fff;
        margin-top: 10px;
        text-align: center;
    }
    main .sell .more_view {
        border: 1px solid #E84E1B;
        padding: 15px 0;
    }
    main .sell .more_btn {
        text-align: center;
    }
    main .sell .mid_bnr .more_btn p {
        color: #fff;
    }
    .middle_banner .mid_bnr .more_view p {
        color: #fff;
        font-size: 0.625rem;
    }
    main .sell .mid_bnr .more_view:hover { 
        animation: border 0.5s forwards;
    }
    main .sell .mid_bnr .more_view {
        border: 1px solid #fff;
    }
    @keyframes border {
        0% {border: 1px solid #fff; background-color: #FFBB4D; }
        100% {border: 1px solid #E84E1B; background-color: #E84E1B;}
    }
    main .event .event_container a:nth-child(3){
        display: none;
    }
    main .new .new_container {
        text-align: center;
    }
    main .sell a .star{
        justify-content: center;
    }
    main .sell a .star p {
        padding-right: 10px;
    }
    main .sell .category a {
        padding: 8px 10px;
    }
    main .event .event_container p {
        text-align: center;
    }
    .sale_area .right_container div{
        text-align: center;
    }
    .sale_area .category_column {
        flex-flow: row nowrap;
    }
    .sale_area .category_column .active {
        font-size: 0.625rem;
        font-weight: 600;
    }
    .sale_area .title_column h2 {
        text-align: center;
    }
    .sale_area .title_column p {
        text-align: center;
    }
    .sale_area .sale_contents {
        display: flex;
        flex-flow: column nowrap;
    }
    .sale_area .category_column a {
        width: 100%;
        padding: 7px 0;
        padding-left: 0px;
        color: #A5A5A5;
    }
    .sale_area .category_column a {
        font-size: 0.625rem;
        text-align: center;
    }
    .sale_area .category_column .active {
        border-bottom-right-radius: 0px;
    }
    .sale_area .right_container {
        width: 100%;
        padding-left: 0px;
        margin-top: 30px;
    }
    .best .best_container .best_main_bg {
        width: 50%;
    }
    .best .best_container .right_contents {
        width: 50%;
        padding-left: 20px;
    }
    .btm_bnr {
    }
    .btm_bnr .bnr_inner {
        max-width: 180px;
    }
    .btm_bnr .btm_bnr_logo {}
    .btm_bnr .btm_bnr_logo img {
        width: 180px;
        padding-bottom: 23px;
    }
    .btm_bnr a {
        font-size:0.875rem;
        width: 180px;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    }
    @media screen and (max-width:983px) {
        footer .footer_top{
            padding: 0 15px;
        }
        footer .footer_top .footer_menu {
            display: flex;
            justify-content: left;
            overflow: hidden;
        }
        footer .footer_top .footer_menu .left_menu {
            display: flex;
            justify-content: center;
        }
        footer .footer_top .footer_menu .left_menu a{
            font-size: 0.6875rem;
            white-space: nowrap;
        }
        footer .footer_top .footer_menu .right_menu{  
            display: none;
        }
        footer .footer_btm .footer_btm_left{
            display: flex;
            flex-flow: column nowrap;
        }
        footer .footer_btm .footer_btm_right {
            position: absolute;
            left: 0px;
            bottom: -45px;
        }
        footer .footer_btm {
            padding: 0 15px;
        }
        footer .footer_btm h2 {
            font-size: 0.6875rem;
        }
        footer .footer_btm p {
            font-size: 0.6875rem;
        }
        footer .footer_btm address {
            font-size: 0.6875rem;
        }
        .footer_btm_right a img{
            width: 28px;
        }
        .top_arrow a img {
            width: 40px;
        }
    }
}    
    /* =============================1행 반응형디자인(mobile) */
@media screen and (max-width:675px){
    .sale_area .category_column a {
        font-size: 0.5rem;
    }
    .sale_area .category_column .active {
        font-size: 0.5rem;
    }
    header .inner .top_header .logo img {
    }
    main .event .event_container h3 {
        font-size:0.875rem;
    }
    main .event .event_container p {
        font-size:0.625rem 
    }
    .banner_bg h2 {
        font-size:1.25rem;
    }
    .review .review_container .user_info .user_info_row p:first-child {
        font-size: 0.6875rem;
    }
    .review .review_container .total_point p {
        white-space: nowrap;
    }
}
@media screen and (max-width:780px){
    .search_aria {
        height: 360px;
    }
    /* search  */
    .search_aria .search_inner input {
        font-size: 0.9375rem;
    }
    .search_aria p img{
        width: 18px;
    }
    .search_aria .search_inner .btm_contents > div h3 {
        font-size: 0.9375rem;
        padding: 15px 0 10px 0;
    }
    .search_aria .search_inner .btm_contents > div a {
        font-size: 0.8125rem;
    }
    .search_aria .search_inner .btm_contents > div a {
        padding-bottom: 15px;
    }
    /* search  */
}
@media screen and (max-width:600px){
    .header_menu .menu_close img {
        width: 22px;
    }
    .header_menu{
        width: 50%;
    }
    main .service .service_container a em {
        margin-bottom: 0px;
    }
    .header_menu .menu_box li .menu-item a {
        font-size: 0.9375rem;
    }
    .header_menu .menu_box a {
        font-size:0.75rem !important;
    }
}
@media screen and (max-width:500px){
    .top_header .logo img {
        width: 90%;
    }
    header .inner .btm_header .btm_rigth_menu a {
        padding-left: 10px;
    }
    header .inner .btm_header .btm_rigth_menu a:first-child {
        padding-left: 0;
    }
    .search_aria {
        height: 300px;
    }
    .search_aria .search_inner .btm_contents > div h3 {
        font-size: 0.8125rem;
    }
    .search_aria .search_inner .btm_contents > div a {
        padding-bottom: 10px !important;
    }
}
@media screen and (max-width:400px){
    body{min-width: 400px;}
    .header_menu {
        min-width: 0;
    }
}

